ul, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main .product-images .mobile button {
  background-color: hsl(223, 64%, 98%);
  border-radius: 100vw;
  padding: 0.2em;
}

body {
  min-height: 100dvh;
  font: 16px "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: clamp(200px, 100%, 1024px);
  height: inherit;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

nav.top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding: 1em;
}
@media (min-width: 768px) {
  nav.top {
    padding: 2em 1em;
  }
}
@media (min-width: 1024px) {
  nav.top {
    padding: 2em 0;
  }
}
nav.top ul {
  display: flex;
  align-items: center;
}
nav.top ul.hamburger {
  margin-right: 0.5em;
}
@media (min-width: 768px) {
  nav.top ul.hamburger {
    display: none;
  }
}
nav.top ul.logo {
  margin-right: 2em;
}
nav.top ul.subs {
  display: none;
}
@media (min-width: 768px) {
  nav.top ul.subs {
    display: flex;
    gap: 1em;
  }
}
nav.top ul.subs a {
  color: hsl(219, 9%, 45%);
  text-underline-offset: 3em;
}
nav.top ul.subs a:hover {
  color: hsl(220, 13%, 13%);
  text-decoration: underline 3px hsl(26, 100%, 55%);
}
nav.top ul.cart-user {
  margin-left: auto;
  gap: 1em;
}
@media (min-width: 768px) {
  nav.top ul.cart-user {
    gap: 2em;
  }
}
nav.top ul.cart-user li a {
  height: 100%;
  display: flex;
  align-items: center;
}
nav.top ul.cart-user img {
  max-height: 30px;
}
@media (min-width: 768px) {
  nav.top ul.cart-user img {
    max-height: 50px;
  }
}

#side-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background-color: transparent;
  transition: background-color 250ms ease-in;
  z-index: 100;
}
#side-modal.modal-in {
  background-color: rgba(0, 0, 0, 0.75);
  transition: background-color 250ms ease-in;
}
#side-modal #side-bar {
  position: fixed;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  padding: 2em;
  background-color: white;
  z-index: 1;
  transition: transform 250ms ease-in;
}
#side-modal #side-bar.out {
  transform: translateX(150px);
}
#side-modal #side-bar button {
  padding-left: 0;
}
#side-modal #side-bar ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
}
#side-modal #side-bar ul a {
  color: hsl(220, 13%, 13%);
  font-weight: 700;
}

main {
  display: grid;
  grid-template-rows: auto auto;
}
@media (min-width: 768px) {
  main {
    grid-template-columns: 40% 60%;
    padding: 3em 2em;
  }
}
main img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 5%;
}
main .product-images .mobile {
  background-color: red;
  position: relative;
}
@media (min-width: 768px) {
  main .product-images .mobile {
    display: none;
  }
}
main .product-images .mobile button {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .product-images .mobile button#mobile-next-image {
  top: calc(50% - 20px);
  right: 4%;
}
main .product-images .mobile button#mobile-next-image img {
  position: relative;
  left: 1px;
  height: 14px;
}
main .product-images .mobile button#mobile-prev-image {
  top: calc(50% - 20px);
  left: 4%;
}
main .product-images .mobile button#mobile-prev-image img {
  position: relative;
  right: 2px;
  height: 14px;
}
main .product-images .desktop {
  display: none;
}
@media (min-width: 768px) {
  main .product-images .desktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 1.5em;
  }
}
main .product-images .desktop #desktop-main-image {
  grid-column: 1/5;
  cursor: zoom-in;
}
main .product-images .desktop .thumb-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  cursor: pointer;
}
main .product-images .desktop .thumb-box.active {
  outline: 2px solid hsl(26, 100%, 55%);
  border-radius: 10%;
  overflow: hidden;
}
main .product-images .desktop .thumb-box.active img {
  border-radius: 0;
  filter: opacity(40%);
}
main #images-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main #images-modal #modal-main-image {
  max-width: 70vh;
}
main #images-modal .modal-thumbs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 400px;
  gap: 2em;
}
@media (min-width: 768px) {
  main {
    border-top: 0.5px solid hsl(220, 14%, 75%);
  }
}

footer {
  background-color: antiquewhite;
}

/*# sourceMappingURL=style.css.map */
